.box{
	  width: 300px;
	  height: 100px;
      margin: auto;
	  background: #fff;
      position: relative;
    

	  border: 20px solid transparent;

	  border-image: linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);

	  border-image-slice: 1;
	}
.pop_body{
    position:absolute;
    top: -10%;
    left:15%;
    font: 150px 'Oleo Script', Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}
.other{
    font: 150px 'Oleo Script', Helvetica, sans-serif;
    position: absolute;
    top:-80%;
    left:110%;
}